HTML{
  scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: "Lexend";
    font-weight: bold;
    min-width: none;
    overflow-x: hidden;
}

.header {
    overflow: hidden;
    background-color: #654186;
    padding-bottom: 1rem;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 0em 0em 50px 50px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 0px;
    font-weight: bold;
  }




  
  /* Float the link section to the right */
  .header-right {
    float: right;
    border: 2px solid currentColor;
    border-radius: 1em;
    color: #ffffff;
    background-color: #ffffff00;
    margin: 20px 20px 20px 20px;
    font-size: 20pt;
    font-family: "Lexend";
  }

  .header-right span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .header-right span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .header-right:hover span {
    padding-right: 25px;  
  }

  .header-right:hover span:after {
    opacity: 1;
    right: 0;
  }



  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
  }






nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #000;
}
.logo {
	color: #fff;
	text-transform: capitalize;
	font-size: 24px;
	cursor: pointer;
	font-weight: 900;
	letter-spacing: 1px;
}
.logo span{
  color: #654186; 
}

.menu{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.menu li{
  list-style: none;
}
.menu a{
  color: #ffffff;
  letter-spacing: 0;
  padding: 30px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.menu a:hover, .menu a:active {
	color: deepskyblue;
	font-weight: 500;
  letter-spacing: 5px;
}
.menu a:after, .menu a:before{
  backface-visibility: hidden;
  border: 1px solid #7a7a7a00;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.menu a:hover:after, .menu a:hover:before {
  backface-visibility: hidden;
  border-color: #999999;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.menu a:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.bar{
  display: none;
  cursor: pointer;
}
.bar div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all .5s ease;
}


  
@media screen and (max-width:1024px){
  .menu{
    width: 60%;
  }
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .menu{
    position: absolute;
    right: -100%;
    height: 90vh;
    top: 10vh;
    background-color: #000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .bar{
      display: block;
  }
}

.nav-active{
  transform: translateX(-100%);
}
.bar-active .bar-1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.bar-active .bar-2{
  opacity: 0;
}
.bar-active .bar-3{
  transform: rotate(45deg) translate(-5px, -6px);
}

.banner {
  background: linear-gradient(to bottom, #00000080 0%, #F5EAFC 90%), url('BlackHole2.png') no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.content h2 {
  font-family: "Lexend";
  color: #fff;
  font-size: 100px;
  text-shadow: 0px 0px 50px #000000;
}
.content p {
  width: 50%;
  color: rgba(255,255,255,0.6);
  line-height: 2;
}
.content a {
  background: deepskyblue;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
}
.socials i {
  color: #fff;
  font-size: 18px;
  margin-right: 25px;
}
.socials {
  margin-top: 30px;
}
.wrapper {
  width: 1060px;
  margin: auto;
  padding-top: 12%;
}


@media only screen and (min-width: 768px) and (max-width: 991px){
  .wrapper {
    width: 75%;
    padding-top: 26%;
  }
  .content{
    text-align: center;
  }
  .content h2 {
    font-size: 60px;
  }
  .content p {
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .banner {
    background-position: 60%;
  }
  .wrapper {
    width: 75%;
    padding-top: 26%;
  }
  .content h2 {
    font-size: 30px;
  }
  .content p {
    width: 100%;
  }
}




.headcontainer {
    position: relative;
    height: 100vh;
    outline: #654186;
    align-items: center;
    align-content: center;
}

.bg-image {
    /* The image used */
    background: linear-gradient(to bottom, #00000000 85%, #F5EAFC 90%), url('BlackHole2.png') no-repeat;
  
    /* Add the blur effect */
  
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    color: white;
    position: inherit;
    bottom: 70%;
    z-index: 0;

    text-align: center;
    font-size: 10rem;
    text-shadow: 0px 0px 50px #000000;
  }