HTML{font-size: calc((1vh+1vw)/2)}

body {
    text-align: center;
    font-family: "Lexend";
    font-weight: bold;
    margin: 0;
    overflow-x: hidden !important;
    min-width: none;
}

.header {
    overflow: hidden;
    background-color: #654186;
    padding-bottom: 1rem;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 0em 0em 50px 50px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 0px;
    font-weight: bold;
  }




  
  /* Float the link section to the right */
  .header-right {
    float: right;
    border: 2px solid currentColor;
    border-radius: 1em;
    color: #ffffff;
    background-color: #ffffff00;
    margin: 20px 20px 20px 20px;
    font-size: 20pt;
    font-family: "Lexend";
  }

  .header-right span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .header-right span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .header-right:hover span {
    padding-right: 25px;  
  }

  .header-right:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.headcontainer {
    position: relative;
    align-self: auto;
    width:100%;
    height: 100vh;
    outline: #654186;
}

.bg-image {
    /* The image used */
    background: linear-gradient(to bottom, #00000000 85%, #F5EAFC 90%), url('BlackHole2.png') no-repeat;
  
    /* Add the blur effect */
  
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
    padding: 20px;
    text-align: center;
    font-size: 10rem;
    text-shadow: 0px 0px 50px #000000;
  }